body {
  font-family: sans-serif;
}
main h1::first-letter {
  font-size: 60px;
}
header img {
  float: left;
}
header h2 {
  font-size: 39px;
  color: orange;
  text-indent: 20px;
  text-shadow: 2px 2px black;
  font-style: italic;
}
header h3 {
  text-indent: 20px;
  font-size: 21px;
}
main a {
  color: orange;
  font-style: bold;
}
main a:hover {
    color: green;
}
li {
  font-weight: bold;
  padding: 3px;
}
footer {
  font-size: 15px;
  text-align: center;
}
