html {
  background-image: url("../images/bats.gif");
  background-repeat: repeat;
}
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 798px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 3px 3px 5px 6px black;
  margin: 0.40em auto;
}
a {
  font-style: bold;
  color: orange;
}
a:link, a:visited {
    color: orange;
}
a:hover, a:focus {
    color: green;
}

/* Header */
header {
  border-bottom: 2px solid black;
  background: #FFFFFF;
  background: -moz-linear-gradient(45deg, #FFFFFF 0%, #FFAF29 75%, #000000);
  background: -webkit-linear-gradient(45deg, #FFFFFF 0%, #FFAF29 75%, #000000);
  background: linear-gradient(45deg, #FFFFFF 0%, #FFAF29 75%, #000000);
  padding-top: 0.5em;
}
header img {
  float: left;
  margin-left: 1em;
}
header h2 {
  font-size: 230%;
  text-indent: 25px;
  margin-top: 0.2em;
}
header h3 {
  text-indent: 6em;
  font-size: 125%;
  margin-top: -1.6em;
  margin-left: auto;
  float: left;
}

/* Main */
main {
  padding: 1em;
}
main h1 {
  font-size: 140%;
}
main h1:first-letter {
  font-size: 240%;
}
main h2 {
  font-size: 125%;
}
main h3 {
  font-size: 110%;
}
ul {
  line-height: 1.5;
}

/* footer */
footer p {
  font-size: 90%;
  text-align: center;
}
footer {
  background: #000000;
  background: -moz-linear-gradient(45deg, #000000 0%, #FFAF29 25%, #FFFFFF);
  background: -webkit-linear-gradient(45deg, #000000 0%, #FFAF29 25%, #FFFFFF);
  background: linear-gradient(45deg, #000000 0%, #FFAF29 25%, #FFFFFF);
  border-top: 2px solid black;
padding-bottom: 0.01em;
}
