html {
  background-image: url("../images/bats.gif");
}
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  max-width: 800px;
  font-size: 100%;
  background-color: white;
  margin: auto;
  border: 1px solid black;
  box-shadow: 3px 3px 5px 6px black;

}
a {
  font-style: bold;
  color: orange;
}
a:link, a:visited {
    color: orange;
}
a:hover, a:focus {
    color: green;
}

/* Header */
header {
  background: #FFFFFF;
  background: -moz-linear-gradient(45deg, #FFFFFF 0%, #FFAF29 75%, #000000);
  background: -webkit-linear-gradient(45deg, #FFFFFF 0%, #FFAF29 75%, #000000);
  background: linear-gradient(45deg, #FFFFFF 0%, #FFAF29 75%, #000000);
  margin: auto;
  padding: 0.5em;
  border-bottom: 1px solid black;

}
header img {
  float: left;
  margin-right: 1em;
  padding-left: 0.5em;
}
header h2 {
  font-size: 230%;
  margin: auto;
}
header h3 {
  font-size: 125%;
  margin: 0.4em auto;
}

/*nav */
nav {
   width: 160px;
   position: fixed;
   overflow-x: hidden;
   padding-top: 1em;
}

/* Main */
main {
  margin-left: 10em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
main h1 {
  font-size: 140%;
}
main h1:first-letter {
  font-size: 240%;
}
main h2 {
  font-size: 125%;
}
main h3 {
  font-size: 110%;
}
ul {
  line-height: 1.5;
}

/* footer */
footer {
  background: #000000;
  background: -moz-linear-gradient(45deg, #000000 0%, #FFAF29 25%, #FFFFFF);
  background: -webkit-linear-gradient(45deg, #000000 0%, #FFAF29 25%, #FFFFFF);
  background: linear-gradient(45deg, #000000 0%, #FFAF29 25%, #FFFFFF);
  margin-top: 2em;
  border-top: 1px solid black;
  padding-bottom: .1em;
}
footer p {
  font-size: 90%;
  text-align: center;
}
